<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign Up | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <link href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet"
          th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}"/>

    <!-- Waves Effect Css -->
    <link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet" />

    <!-- Animation Css -->
    <link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet" />

    <!-- Custom Css -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style type="text/css">
        .signup-page{
            background-color: #ff9800
        }
    </style>
</head>

<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>BSB</b></a>
            <small>Admin BootStrap Based - Material Design</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" method="post" th:action="@{/user/register}" th:object="${user}">

                    <div class="msg">Register a new membership</div>

                    <div th:if="${isMismatchPassword}">
                        <label>Password and Confirm password fields dont match</label>
                    </div>
                    <div th:if="${isNoRole}">
                        <label>You must select either teacher or student</label>
                    </div>
                    <div th:if="${isUsernameDuplicate}">
                        <label>Username is already taken</label>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="lastName" th:field="*{lastName}" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" th:field="*{username}" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" th:name="password" th:field="*{password}" minlength="6" placeholder="Password"  required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" th:name="confirm" minlength="6" placeholder="Confirm Password" required>
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">verified_user</i>
                        </span>
                        <select class="form-control show-tick" name="choiceRole" th:field="*{role} "required >
                            <option value="NO_ROLE">Sign Up as</option>
                            <option value="ROLE_TEACHER">Teacher</option>
                            <option value="ROLE_STUDENT">Student</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                        <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>

                    <div class="m-t-25 m-b--5 align-center">
                        <a th:href="@{/user/login}">You already have a membership?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core Js -->
    <script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script th:src="@{/plugins/node-waves/waves.js}"></script>

    <!-- Validation Plugin Js -->
    <script th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>

    <!-- Custom Js -->
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/pages/forms/form-validation.js}"></script>
</body>

</html>