<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Form Validation | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico"
          th:href="@{/favicon.ico}"
          type="image/x-icon" >

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext"
          th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext}"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
          rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../../../static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}">

    <!-- Waves Effect Css -->
    <link href="../../../static/plugins/node-waves/waves.css" rel="stylesheet" th:href="@{/plugins/node-waves/waves.css}"/>

    <!-- Animation Css -->
    <link href="../../../static/plugins/animate-css/animate.css" rel="stylesheet" th:href="@{/plugins/animate-css/animate.css}"/>

    <!-- Sweet Alert Css -->
    <link href="../../../static/plugins/sweetalert/sweetalert.css" rel="stylesheet" th:href="@{/plugins/sweetalert/sweetalert.css}"/>
     <!-- Bootstrap Select Css -->
    <link href="../../../static/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}"/>

    <!-- Custom Css -->
    <link href="../../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../../static/css/themes/all-themes.css" rel="stylesheet" th:href="@{/css/themes/all-themes.css}"/>
    <style type="text/css">
        .material-icons{
            cursor: pointer;
        }
        .question{
            border: 1px double black;
            padding: 5px 0px 5px 150px;
            margin: 0px 10px 20px 10px;
        }
    </style>
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <th:block th:include="@{fragments/searchBar}"></th:block>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <th:block th:include="@{fragments/navbar}"></th:block>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <th:block th:include="@{fragments/leftSideBar}"></th:block>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>FORM EXAMPLES</h2>
            </div>

            <!-- Vertical Layout -->
           <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                MULTI COLUMN
                            </h2>
                        </div>
                        <div class="body">
                            <form th:action="@{/test/create}" th:object="${test}" method="post">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="name" required>
                                        <label class="form-label">Test Name</label>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                       <select class="form-control show-tick" name="choiceTest" required >

<!--                                           <option th:value=">Choose class</option>-->
                                           <th:block th:each="class : ${classes}">
                                               <option th:value="${class.id}" th:text="${class.className}"></option>
                                           </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div id="questions">
                                   
                                </div>
                                <button class="btn btn-primary waves-effect" style=" margin-top: 10px" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->
        </div>
    </section>

    <script>
        (function () {
            var Spouse = {
                count:    1,

                init:     function () {
                    var fs = document.getElementById("questions");
                    var div = fs.appendChild(this.make("div", {id: "here"}));
                    var btn = div.appendChild(this.make("input", {type: "button", value: "Add Question"}));
                    btn.onclick = (function (_self) {
                        return function () {
                            _self.add();
                            return false;
                        };
                    })(this);
                },

                add:      function () {
                    var id = "q" + this.count;
                    var here = document.getElementById("here");
                    var question=here.parentNode.insertBefore(this.make("div", {className: "row question", id: "row" + this.count}), here);
                    var clearfixP = question.appendChild(this.make("div", {className: "row clearfix", id: "row" + id}), here);
                    var col8=clearfixP.appendChild(this.make("div", {className: "col-md-8"}));
                    this.addField(col8,id,"Question "+this.count);
                    var clearfixC = question.appendChild(this.make("div", {className: "row clearfix", id: "row" + this.count}), here);
                    for (var i = 1; i <= 4; i++) {
                        var col2=clearfixC.appendChild(this.make("div", {className: "col-md-2"}));
                        this.addField(col2,id+"."+i,"Answer "+i);
                    }
                    var div = clearfixP.appendChild(this.make("div", {className: "col-md-1"}));
                    // var btn = div.appendChild(this.make("input", {type: "button", value: "Remove", _id: "row" + this.count}));
                    var btn = div.appendChild(this.make("i", {className:"material-icons", _id: "row" + this.count},"delete_forever"));
                    btn.onclick = this.remove;
                    ++this.count;
                },
                addField: function (parent,id,placeholder) {
                    var fg=parent.appendChild(this.make("div", {className: "form-group"}));
                    var fl=fg.appendChild(this.make("div", {className: "form-line"}));
                    fl.appendChild(this.make("input", {type: "text",className:"form-control", name: id, id: id,placeholder:placeholder}));
                },

                remove:   function () {
                    var row = document.getElementById(this._id);
                    row.remove();
                    return false;
                },

                make:     function (type, attrs, content) {
                    var element = document.createElement(type);
                    if (attrs !== undefined) {
                        for (var a in attrs) {
                            element[a] = attrs[a];
                        }
                    }
                    if (content !== undefined) {
                        element.appendChild(document.createTextNode(content));
                    }
                    return element;
                }
            };

            Spouse.init();
        })();
    </script>

    <!-- Jquery Core Js -->
    <script src="../../../static/plugins/jquery/jquery.min.js" th:src="@{/plugins/jquery/jquery.min.js}" ></script>

    <!-- Bootstrap Core Js -->
    <script src="../../../static/plugins/bootstrap/js/bootstrap.js" th:src="@{/plugins/bootstrap/js/bootstrap.js}" ></script>

    <!-- Select Plugin Js -->
    <script src="../../../static/plugins/bootstrap-select/js/bootstrap-select.js" th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../../static/plugins/jquery-slimscroll/jquery.slimscroll.js" th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

    <!-- Jquery Validation Plugin Css -->
    <script src="../../../static/plugins/jquery-validation/jquery.validate.js" th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>
    <!-- Sweet Alert Plugin Js -->
    <script src="../../../static/plugins/sweetalert/sweetalert.min.js" th:src="@{/plugins/sweetalert/sweetalert.min.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../../static/plugins/node-waves/waves.js" th:src="@{/plugins/node-waves/waves.js}"></script>

    <!-- Custom Js -->
    <script src="../../../static/js/admin.js" th:src="@{/js/admin.js}"></script>
    <script src="../../../static/js/pages/forms/form-validation.js" th:src="@{/js/pages/forms/form-validation.js}"></script>

    <!-- Demo Js -->
    <script src="../../../static/js/demo.js" th:src="@{/js/demo.js}"></script>
</body>

</html>
