<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Form Validation | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet" />

    <!-- Animation Css -->
    <link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet" />

    <!-- Sweet Alert Css -->
    <link th:href="@{/plugins/sweetalert/sweetalert.css}" rel="stylesheet" />

    <!-- Custom Css -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link th:href="@{/css/themes/all-themes.css}" rel="stylesheet" />

    <style type="text/css">
        .material-icons{
            cursor: pointer;
        }
        .question{
            border: 1px double black;
            padding: 5px 0px 5px 150px;
            margin: 0px 10px 20px 10px;
        }
    </style>
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <th:block th:replace="fragments/searchBar :: searchBar"></th:block>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>
    <section th:replace="fragments/sideBar :: sideBar">
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>FORM EXAMPLES</h2>
            </div>

          <!-- Basic Examples -->
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Class List
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Access Code</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th colspan="3">Setting</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="class : ${classes}">
                                        <td th:text="${class.accessCode}"></td>
                                        <td th:text="${class.className}"></td>
                                        <td th:text="${class.description}"></td>
                                        <td><a class="btn btn-info" th:href="@{/class/view/{id} (id = ${class.id})}">View</a></td>

                                        <div sec:authorize="hasRole('TEACHER')">
                                            <td><a class="btn btn-info" th:href="@{/class/edit/{id} (id = ${class.id})}">Edit</a></td>
                                            <td><a class="btn btn-danger" th:href="@{/class/delete/{id} (id = ${class.id})}"
                                            onclick="return confirm('Are you sure?')"> Delete</a> </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core Js -->
    <script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Select Plugin Js -->
    <script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

    <!-- Slimscroll Plugin Js -->
    <script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

    <!-- Jquery Validation Plugin Css -->
    <script th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>

    <!-- JQuery Steps Plugin Js -->
    <script th:src="@{/plugins/jquery-steps/jquery.steps.js}"></script>

    <!-- Sweet Alert Plugin Js -->
    <script th:src="@{/plugins/sweetalert/sweetalert.min.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script th:src="@{/plugins/node-waves/waves.js}"></script>

    <!-- Custom Js -->
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/pages/forms/form-validation.js}"></script>

    <!-- Demo Js -->
    <script th:src="@{/js/demo.js}"></script>
</body>

</html>
