<!DOCTYPE  >
<html lang="en" html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section th:fragment="sideBar">
    <aside id="leftsidebar" class="sidebar" >
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="../../static/images/user.png" th:src="@{/images/user.png}" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <span th:text ="${#authentication.getPrincipal().getUser().getFirstName()} "></span>
                    <span th:text ="${#authentication.getPrincipal().getUser().getLastName()}"></span>
                </div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                        <li><a href="javascript:void(0);" th:href="@{/logout}"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                    <a th:href="@{/}" >
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </a>
                </li>
                <li th:classappend="${activeParent=='class' ? 'active':''}">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">widgets</i>
                        <span>Class</span>
                    </a>
                    <ul class="ml-menu">
                        <div sec:authorize="hasRole('TEACHER')">
                            <li th:classappend="${#httpServletRequest.getRequestURI() == '/class/add' ? 'active':''}">
                                <a th:href="@{/class/add}">
                                    <span>Create Class</span>
                                </a>
                            </li>
                        </div>

                        <div sec:authorize="hasRole('STUDENT')">
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/class/join' ? 'active':''}">
                            <a th:href="@{/class/join}">
                                <span>Join Class</span>
                            </a>
                        </li>
                        </div>


                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/class/list' ? 'active':''}">
                            <a th:href="@{/class/list}">
                                <span>Class List</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li th:classappend="${activeParent=='test' ? 'active':''}">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">widgets</i>
                        <span>Test</span>
                    </a>
                    <ul class="ml-menu">

                        <div sec:authorize="hasRole('TEACHER')">
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/test/create' ? 'active':''}">
                            <a th:href="@{/test/create}">
                                <span>Create Test</span>
                            </a>
                        </li>
                        </div>

                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/test/list' ? 'active':''}">
                            <a th:href="@{/test/list}">
                                <span>Test List</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

    </aside>
</section>
</body>
</html>